 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <script src="https://unpkg.com/vue@next"></script>
 </head>
 <body>
     <div id="root">
     </div>
 </body>
 
 <script>
     // 傳屬性的時候用 params-to-template 接屬性的時候paramsToTemplate
     const app = Vue.createApp({
         data() {
            return {
               params: {
                content: 1234,   
                a:123,
                b:456,
                c:789,
               },
               num: 1,
            }
         },
         template:`
        <div>
            <test :params-to-template="params"/>
        </div>
        <div>
            <counter :count="num" />
        </div>
         `,
        //  <test :content="params.content" :a="params.a" :b="params.b" :c="params.c" />
         // <test :content="num" :a="a" :b="b" :c="c" />
         
          //調用子組件傳遞的動態內容 `
         
     })
     // type: String, Boolean, Arrat, Object, Function, Symbol
     // required: 必填
     // default: 默認值
     app.component('test', {
        props:  ["paramsToTemplate","count"], 
        template: `<div>{{ paramsToTemplate.content }}-{{paramsToTemplate.a}}-{{paramsToTemplate.b}}-{{paramsToTemplate.c}}</div>` ,
        // props: ['content','a','b','c','params'],
        // template: `<div>{{content}}-{{a}}-{{b}}-{{c}}</div>` ,
     })

     app.component('counter', {
        props:  ["count"], 
        // 1.父組件的數據可以流向子組件，但子組件不能修改傳來的prop
        data: function() {
            //2. 若是子組件用一個新的值來接父組件的數據，則我們可以更改子組件內的數據
            return {
                Count: this.count,
            } 
            //3. 為什麼要這樣? 因為如果子組件能改父組件的屬性，則會汙染父組件中的data
        },
        template: `
        <div @click="Count += 1">{{ Count }}</div>
        ` ,
        // props: ['content','a','b','c','params'],
        // template: `<div>{{content}}-{{a}}-{{b}}-{{c}}</div>` ,
     })

    
     const vm = app.mount('#root');
 
 </script>
 </html>